<html xmlns:th="http://www.thymeleaf.org"   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ઓર્ડર</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<form th:action="@{/order/placeOrder}" method="post" th:object="${itemOrder}">

    <h1>ઓર્ડર</h1>
    <br>
    <h3><a th:href="@{/order/list}" >ઓર્ડર યાદી</a></h3>

    <fieldset>
        <legend>ઓર્ડર</legend>
        <label for="name">નામ:</label>
        <input type="text" id="name" name="name" th:field="*{name}">

        <label for="mobileNumber">મોબાઇલ નંબર:</label>
        <input type="text" id="mobileNumber" name="mobileNumber" th:field="*{mobileNumber}">

        <label for="altMobileNumber">મોબાઇલ નંબર 2:</label>
        <input type="text" id="altMobileNumber" name="altMobileNumber" th:field="*{alMobileNumber}">

        <label for="orderDate">ઓર્ડર તારીખ:</label>
        <input type="date" id="orderDate" name="orderDate" th:field="*{orderDateTime}">

        <label for="address">સરનામું:</label>
        <input type="text" id="address" name="address" th:field="*{address}">

        <label for="rate">કિંમત:</label>
        <input type="number" id="rate" name="rate" th:field="*{rate}">

        <label for="weight">વજન:</label>
        <input type="number" id="weight" name="rate" th:field="*{weight}">

        <label for="description">માહિતી:</label>
        <input type="text" id="description" name="description">

        <label for="weight">બાનુ:</label>
        <input type="number" id="advance" name="advance" th:field="*{advance}">

        <label for="itemId">મઠ્ઠો:</label>
        <select id="itemId" name="itemId" th:field="*{itemId}" >

            <option th:each="s :${items}"
                    th:value="${s.getId()}"
                    th:text="${s.getName()}"></option>


            <!--                <option value="php_developor">PHP Developer</option>-->

        </select>


        <!--        <label>Age:</label>-->
        <!--        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">Under 13</label><br>-->
        <!--        <input type="radio" id="over_13" value="over_13" name="user_age"><label for="over_13" class="light">13 or older</label>-->
    </fieldset>


    <button type="submit">Create Order</button>
</form>

</body>
</html>